html {
  position: relative;
  min-height: 100%;
}

@media (min-width: 992px) {
  body {
    margin-bottom: 60px; /* Margin bottom by footer height */
    /* background-image: url('/Kegeln/media/beer.jpg') !important; TODO: funktioniert jetzt, sieht mit dem Bild aber kacke aus... */
  }
  .w-login {
    width: 50% !important
  }
  .footer {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #353535;
  }
}

@media (max-width: 991px) {
  body {
    margin-bottom: 120px; /* Margin bottom by footer height */
    /* background-image: url('/Kegeln/media/beer.jpg') !important; TODO: funktioniert jetzt, sieht mit dem Bild aber kacke aus... */
  }
  .w-login {
    width: 100% !important
  }
  .footer {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 120px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #353535;
  }
}

#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}

#myFooter .facebook:hover {
    color: #0077e2;
}

#myFooter .google:hover {
    color: #ef1a1a;
}

#myFooter .twitter:hover {
    color: #00aced;
}

#myFooter .instagram:hover {
    color: #EC00B5;
}

#myFooter .reddit:hover {
    color: #FF0000;
}

#myFooter .snapchat:hover {
    color: #FFFF33;
}

#myFooter .beer:hover {
    color: #40FF00;
}
